DOWNLOAD_NDMC_BASE_URL="https://droughtcenter.unl.edu/Outgoing/Regional_Percentiles/Southern_Africa"
DOWNLOAD_ESI_DATASET="era5_esi_1mn"
DOWNLOAD_EVI2_DATASET="evi2_1mn"
DOWNLOAD_SPI_DATASET="chirps_spi_3mn"
DOWNLOAD_SM_DATASET="noah_soilm_1mn"
GEONODE_URL="yourgeonodeinstance"
GEONODE_USERNAME="yourgeonodeusernameoremail"
GEONODE_PASSWORD="yourgeonodepassword"
